

html{
    font-family: 'Muli', sans-serif;
    scroll-behavior: smooth;
    background-color: #000;
}

.indigo-lightest{
    color: #F0EEFF;
    opacity: 50%;
}

.bg_white_black {
    background-color: #18181a;
}



.fw-600{
    font-weight: 600;
}

.features_cart{
    padding: 75px 30px 0 30px;
}



.read_button{
    transition: 0.5s;
    font-size: .9rem;
    border: 0;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    padding: 8px 28px;
}

.read_button:hover {
    transform: scale(1.2);
}

.big_text_section{
    font-size: 10vmax;
    font-weight: 900;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10vh 10vw 10vh 10vw;
}

.big_text_section div h2{
    font-size: 4.5vmax;
    font-weight: 900;
}

.product_option {
    transition: 0.5s;
}

.product_option:hover {
    transform: scale(1.15);
}
.product_option_btn{
    background-color: #000;
}

.form_btn:hover{
    transform: scale(1.03);
}


nav {
    background-color: #18181a;
    
}
.nav-item{
    padding-right: 10px;
    color: #fff;
    font-weight: bold;
 
}
.nav-item:last-child{
    margin-right: -25px;
}
.nav-item:hover{
    color: #F7931E;
}

#current_page {
    color: #F7931E;
}

#projects {
    background-color: #000;
}

.logo{
    width: 150px;
    margin: 0;
    padding: 0;
}
a:link, a:visited {
    color: #fff;
    text-decoration: none;
}
a:hover{
    transition: 0.5s;
    color: #F7931E;
    text-decoration: none;
}
#reg:link, #reg:visited{
    background: #fff;
    color: black;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;

    margin-left: 10px;
}
#reg:hover{
    color: white;
    background: #F7931E;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown_content a {
    border-radius: 5px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown_content{
    
    display: block;
}

.dropdown:hover #projects_dropdown_m{
    transition: 0.5s;
    color: #F7931E;
}

.dropdown_content a:hover{
    background-color: #F7931E;
}

#u2p_nav_prod_logo{

    width: 110px;
}

#event{
    transition: 0.5s;
    background-color: rgb(247, 147, 30);
    color: #fff;  
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 45px;
    border: 0;
}
#event:hover{ 
    
    transform: scale(1.1);
    
    
    box-shadow: 0px 8px 16px 0px rgba(247, 147, 30, 0.2);
    background: #ED1C24;
}

#home {
    position: relative;
    width: 100%; 
    height: 100vh; 
    overflow: hidden;
    background-color: #1E1E1E;
    z-index: 0;


}
#home_3d {
    position:absolute;
    margin-left: 20%;
    top:-60px;
    height: 1000px;
    z-index: -1;
    
}
#home_2d {
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top:-30px;
    z-index: -1;
    margin-left: -50px;
    
}
#home_2d {display: none;}
@media (max-width: 640px) {
    #home_2d { display: block }
    #home_3d { display: none }
}

.our_projects_btn{
    color: #fff;
    border: 0;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 25px;
    padding: 15px 25px 15px 25px;
    transition: 0.5s;
    
}

.our_projects_btn:hover{
    color: #fff;   
    transform: scale(1.2);
    background: linear-gradient(90deg, rgba(247,147,30,1) 0%, rgba(237,28,36,1) 100%);
}

#features{
    background-color: #000;
    padding: 5vmax;
}
#big_text{
    background-color: #000;
}

#span_bc{
    border-color: #ED1C24;
}

.u2p_product_logo{
    width: 150px;
    margin: auto;
    margin-bottom: 15px;
    display: block;
}
.shp_product_logo{
    width: 340px;
    margin: auto;
    margin-bottom: 2vh;
    display: block;
}

#product_box{
   
   
   
}

#read_button{
    margin-top: 10px;
}

#fill_form_b{
    flex: 1;
    color: #000;
    background-color: #fff;
}

#flex_div{
    justify-content: center;
}

#footer_logo{
    width: 20vh;
    height: 100%;
}

.social_media_btn{
    transition: 0.5s;
    width: 64px;
    height: 64px;
    
}
.social_media_btn:hover{
    transform: scale(1.2);
}

#topBtn{
    transition: 0.5s;
    position: fixed;
    border-radius: 45px;
    border: 0;
    width: 50px;
    height: 50px;
    background-color: #F7931E;
    color: #fff;
    z-index: 99;
    bottom: 20px;
    right: 20px;
}

#topBtn:hover{ 
    background-color: #ED1C24;
    transform: scale(1.2);
}

/* About page */
#head_section_about {
    position: relative;
    background: rgba(255, 255 ,255, .1);
    backdrop-filter: blur0(10px);
    
}

#about_3d {
    width: 100%;
    height: 500px;
    
}
#blurrrr {
    position: absolute;
    width: 100%;
    height: 100%;
    
    backdrop-filter: blur(4px);
    z-index: 99;
}

#head_about {
    font-size: 108px;
    color: #fff;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 6vw;
    text-align: center;
    z-index: 100;
}

#black_rectangle {
    width: 100%;
    height: 100px;

    background-color: #000;
    
    position: absolute;
    margin-top: -100px;
    z-index: 99;
}

.paragraph_about {
    font-size: 28px;
    color: #fff;
    padding: 0 7vw 0 7vw;
    
}

/* Login */
.logo_log_in{
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px; 
}
.logo_log_in img{
    width: 100px;
}

.form_login{
    z-index: 100;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, -0);

    width: 25vmax;
    
    color: #fff;


    
    
}

.form_login h1{
    text-align: center;
    padding-bottom: 50px;
}
.form_login input{
    color: #fff;
    border: 0;
    background-color: rgba(255, 255, 255, 0.2);
    
}
.form_login button{
    padding: 10px 30px 10px 30px;
    border: 0;
    background: linear-gradient(90deg, rgba(247,147,30,1) 0%, rgba(237,28,36,1) 100%);
}
.form_login p{
    font-size: 12px;
    padding-top: 20px;
    
}

.form-label{
    display: flex;
    justify-content: space-between;
}
.sign_up_link{
    background: linear-gradient(90deg, rgba(247,147,30,1) 0%, rgba(237,28,36,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#show_hide_psw{
    cursor: pointer;
}

#exampleCheck1:checked{
    background-color: #ED1C24;
}


/* reg */
.form_login_reg{
    top: 15%;
}
#reg_submit_btn{
    margin-bottom: 50px;
}